# COGS 108 - Final Project

# Overview

*Fill in your overview here*

# Names

- Christopher Guan
- Diana Issatayeva
- Angela Liu
- Ana Palma
- Melody Xue

# Group Members IDs

- A13513127
- A########
- A########
- A########
- A########

# Research Question

*Fill in your research question here*

## Background and Prior Work

*Fill in your background and prior work here* 

References (include links):
- 1)
- 2)

# Hypothesis

*Fill in your hypotheses here*

# Dataset(s)

*Fill in your dataset information here*

(Copy this information for each dataset)
- Dataset Name:
- Link to the dataset:
- Number of observations:

1-2 sentences describing each dataset. 

If you plan to use multiple datasets, add 1-2 sentences about how you plan to combine these datasets.

# Setup

In [1]:
# Import libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# Configure libraries
# The seaborn library makes plots look nicer
sns.set()
sns.set_context('talk')

# Don't display too many rows/cols of DataFrames
pd.options.display.max_rows = 7
pd.options.display.max_columns = 8

# Round decimals when displaying DataFrames
pd.set_option('precision', 2)

# Data Cleaning

Describe your data cleaning steps here.

In [2]:
## YOUR CODE HERE
## FEEL FREE TO ADD MULTIPLE CELLS PER SECTION
xls_Education = pd.ExcelFile("Education.xls")
xls_Education.sheet_names

['Education']

In [3]:
df_ed = xls_Education.parse('Education')
display(df_ed)

,FIPS Code,State,Area name,2003 Rural-urban Continuum Code,...,"Percent of adults with less than a high school diploma, 2013-17","Percent of adults with a high school diploma only, 2013-17","Percent of adults completing some college or associate's degree, 2013-17","Percent of adults with a bachelor's degree or higher, 2013-17"
0,0,US,United States,NaN,...,12.7,27.3,29.1,30.9
1,1000,AL,Alabama,NaN,...,14.7,30.9,29.9,24.5
2,1001,AL,Autauga County,2.0,...,12.3,33.6,29.1,25.0
...,...,...,...,...,...,...,...,...,...
3280,72149,PR,Villalba Municipio,2.0,...,27.3,33.6,19.4,19.7
3281,72151,PR,Yabucoa Municipio,1.0,...,32.0,24.9,26.0,17.2
3282,72153,PR,Yauco Municipio,3.0,...,28.4,31.3,17.8,22.5

In [4]:
list(df_ed)

['FIPS Code',
 'State',
 'Area name',
 '2003 Rural-urban Continuum Code',
 '2003 Urban Influence Code',
 '2013 Rural-urban Continuum Code',
 '2013 Urban Influence Code',
 'Less than a high school diploma, 1970',
 'High school diploma only, 1970',
 'Some college (1-3 years), 1970',
 'Four years of college or higher, 1970',
 'Percent of adults with less than a high school diploma, 1970',
 'Percent of adults with a high school diploma only, 1970',
 'Percent of adults completing some college (1-3 years), 1970',
 'Percent of adults completing four years of college or higher, 1970',
 'Less than a high school diploma, 1980',
 'High school diploma only, 1980',
 'Some college (1-3 years), 1980',
 'Four years of college or higher, 1980',
 'Percent of adults with less than a high school diploma, 1980',
 'Percent of adults with a high school diploma only, 1980',
 'Percent of adults completing some college (1-3 years), 1980',
 'Percent of adults completing four years of college or higher, 1980',
 'Less than a high school diploma, 1990',
 'High school diploma only, 1990',
 "Some college or associate's degree, 1990",
 "Bachelor's degree or higher, 1990",
 'Percent of adults with less than a high school diploma, 1990',
 'Percent of adults with a high school diploma only, 1990',
 "Percent of adults completing some college or associate's degree, 1990",
 "Percent of adults with a bachelor's degree or higher, 1990",
 'Less than a high school diploma, 2000',
 'High school diploma only, 2000',
 "Some college or associate's degree, 2000",
 "Bachelor's degree or higher, 2000",
 'Percent of adults with less than a high school diploma, 2000',
 'Percent of adults with a high school diploma only, 2000',
 "Percent of adults completing some college or associate's degree, 2000",
 "Percent of adults with a bachelor's degree or higher, 2000",
 'Less than a high school diploma, 2013-17',
 'High school diploma only, 2013-17',
 "Some college or associate's degree, 2013-17",
 "Bachelor's degree or higher, 2013-17",
 'Percent of adults with less than a high school diploma, 2013-17',
 'Percent of adults with a high school diploma only, 2013-17',
 "Percent of adults completing some college or associate's degree, 2013-17",
 "Percent of adults with a bachelor's degree or higher, 2013-17"]

In [5]:
df_ed=df_ed.drop(['2003 Urban Influence Code','2013 Rural-urban Continuum Code','2003 Rural-urban Continuum Code','2013 Urban Influence Code','Less than a high school diploma, 1970',
 'High school diploma only, 1970',
 'Some college (1-3 years), 1970',
 'Four years of college or higher, 1970',
 'Percent of adults with less than a high school diploma, 1970',
 'Percent of adults with a high school diploma only, 1970',
 'Percent of adults completing some college (1-3 years), 1970',
 'Percent of adults completing four years of college or higher, 1970',
 'Less than a high school diploma, 1980',
 'High school diploma only, 1980',
 'Some college (1-3 years), 1980',
 'Four years of college or higher, 1980',
 'Percent of adults with less than a high school diploma, 1980',
 'Percent of adults with a high school diploma only, 1980',
 'Percent of adults completing some college (1-3 years), 1980',
 'Percent of adults completing four years of college or higher, 1980',
 'Less than a high school diploma, 1990',
 'High school diploma only, 1990',
 "Some college or associate's degree, 1990",
 "Bachelor's degree or higher, 1990",
 'Percent of adults with less than a high school diploma, 1990',
 'Percent of adults with a high school diploma only, 1990',
 "Percent of adults completing some college or associate's degree, 1990",
 "Percent of adults with a bachelor's degree or higher, 1990",
 'Less than a high school diploma, 2000',
 'High school diploma only, 2000',
 "Some college or associate's degree, 2000",
 "Bachelor's degree or higher, 2000",
 'Percent of adults with less than a high school diploma, 2000',
 'Percent of adults with a high school diploma only, 2000',
 "Percent of adults completing some college or associate's degree, 2000",
 "Percent of adults with a bachelor's degree or higher, 2000",],axis=1)
display(df_ed)

,FIPS Code,State,Area name,"Less than a high school diploma, 2013-17",...,"Percent of adults with less than a high school diploma, 2013-17","Percent of adults with a high school diploma only, 2013-17","Percent of adults completing some college or associate's degree, 2013-17","Percent of adults with a bachelor's degree or higher, 2013-17"
0,0,US,United States,2.74e+07,...,12.7,27.3,29.1,30.9
1,1000,AL,Alabama,4.81e+05,...,14.7,30.9,29.9,24.5
2,1001,AL,Autauga County,4.52e+03,...,12.3,33.6,29.1,25.0
...,...,...,...,...,...,...,...,...,...
3280,72149,PR,Villalba Municipio,4.23e+03,...,27.3,33.6,19.4,19.7
3281,72151,PR,Yabucoa Municipio,7.72e+03,...,32.0,24.9,26.0,17.2
3282,72153,PR,Yauco Municipio,7.51e+03,...,28.4,31.3,17.8,22.5

In [6]:
list(df_ed)

['FIPS Code',
 'State',
 'Area name',
 'Less than a high school diploma, 2013-17',
 'High school diploma only, 2013-17',
 "Some college or associate's degree, 2013-17",
 "Bachelor's degree or higher, 2013-17",
 'Percent of adults with less than a high school diploma, 2013-17',
 'Percent of adults with a high school diploma only, 2013-17',
 "Percent of adults completing some college or associate's degree, 2013-17",
 "Percent of adults with a bachelor's degree or higher, 2013-17"]

In [7]:
#reanme the column names
df_ed=df_ed.rename(index=str, columns={"FIPS Code": "FIPS", })

In [8]:
# read in the data from Food Evironmental Atlas excel spreadsheet into pandas data frame
stores_df = pd.read_excel('FoodEnvironmentAtlas.xls', sheet_name='STORES')
health_df = pd.read_excel('FoodEnvironmentAtlas.xls', sheet_name='HEALTH')

In [9]:
#separate the neccessary columns from the table
stores_var_list = ['GROC14', 'GROCPTH14', 'FIPS']
stores_df = stores_df[stores_var_list]

health_var_list = ['PCT_OBESE_ADULTS13', 'RECFAC14', 'RECFACPTH14', 'FIPS']
health_df = health_df[health_var_list]

In [10]:
stores_df

      GROC14  GROCPTH14   FIPS
0          4       0.07   1001
1         29       0.14   1003
2          5       0.19   1005
...      ...        ...    ...
3140       2       0.10  56041
3141       2       0.24  56043
3142       4       0.56  56045

[3143 rows x 3 columns]

In [11]:
health_df

      PCT_OBESE_ADULTS13  RECFAC14  RECFACPTH14   FIPS
0                   34.1         5         0.09   1001
1                   27.4        25         0.12   1003
2                   44.4         0         0.00   1005
...                  ...       ...          ...    ...
3140                27.9         2         0.10  56041
3141                27.7         1         0.12  56043
3142                29.2         0         0.00  56045

[3143 rows x 4 columns]

In [12]:
# Merging two dataframes on FIPS column
df_merged = stores_df.merge(health_df, left_on='FIPS', right_on='FIPS')

In [13]:
# Put FIPS column first 
# Get a list of columns
cols = list(df_merged)

# Move the column to head of list using index, pop and insert
cols.insert(0, cols.pop(cols.index('FIPS')))
df_merged = df_merged.loc[:, cols]
df_merged

       FIPS  GROC14  GROCPTH14  PCT_OBESE_ADULTS13  RECFAC14  RECFACPTH14
0      1001       4       0.07                34.1         5         0.09
1      1003      29       0.14                27.4        25         0.12
2      1005       5       0.19                44.4         0         0.00
...     ...     ...        ...                 ...       ...          ...
3140  56041       2       0.10                27.9         2         0.10
3141  56043       2       0.24                27.7         1         0.12
3142  56045       4       0.56                29.2         0         0.00

[3143 rows x 6 columns]

In [14]:
# Rename the column names to be more clear
df_merged = df_merged.rename(index=str, columns={"GROC14": "GROC_STORES_COUNT_2014", "GROCPTH14": "GROC_STORE_PER1000_2015", "PCT_OBESE_ADULTS13": "ADULT_OBESITY_RATE_2013", "RECFAC14": "RECREATION_FITNESS_FACIL_COUNT_2014", "RECFACPTH14": "Recreation_FIRNESS_FACIL_PER1000_2014" })

In [15]:
# Check for data types
df_merged.dtypes

FIPS                                       int64
GROC_STORES_COUNT_2014                     int64
GROC_STORE_PER1000_2015                  float64
ADULT_OBESITY_RATE_2013                  float64
RECREATION_FITNESS_FACIL_COUNT_2014        int64
Recreation_FIRNESS_FACIL_PER1000_2014    float64
dtype: object

In [16]:
df_ed.dtypes

FIPS                                                                          int64
State                                                                        object
Area name                                                                    object
                                                                             ...
Percent of adults with a high school diploma only, 2013-17                  float64
Percent of adults completing some college or associate's degree, 2013-17    float64
Percent of adults with a bachelor's degree or higher, 2013-17               float64
Length: 11, dtype: object

In [18]:
# Merging the two dataframes on FIPS column
df = df_ed.merge(df_merged, left_on='FIPS', right_on='FIPS')
display(df)

,FIPS,State,Area name,"Less than a high school diploma, 2013-17",...,GROC_STORE_PER1000_2015,ADULT_OBESITY_RATE_2013,RECREATION_FITNESS_FACIL_COUNT_2014,Recreation_FIRNESS_FACIL_PER1000_2014
0,1001,AL,Autauga County,4521.0,...,0.07,34.1,5,0.09
1,1003,AL,Baldwin County,13997.0,...,0.14,27.4,25,0.12
2,1005,AL,Barbour County,4960.0,...,0.19,44.4,0,0.00
...,...,...,...,...,...,...,...,...,...
3138,56041,WY,Uinta County,1067.0,...,0.10,27.9,2,0.10
3139,56043,WY,Washakie County,654.0,...,0.24,27.7,1,0.12
3140,56045,WY,Weston County,410.0,...,0.56,29.2,0,0.00

In [19]:
list(df)

['FIPS',
 'State',
 'Area name',
 'Less than a high school diploma, 2013-17',
 'High school diploma only, 2013-17',
 "Some college or associate's degree, 2013-17",
 "Bachelor's degree or higher, 2013-17",
 'Percent of adults with less than a high school diploma, 2013-17',
 'Percent of adults with a high school diploma only, 2013-17',
 "Percent of adults completing some college or associate's degree, 2013-17",
 "Percent of adults with a bachelor's degree or higher, 2013-17",
 'GROC_STORES_COUNT_2014',
 'GROC_STORE_PER1000_2015',
 'ADULT_OBESITY_RATE_2013',
 'RECREATION_FITNESS_FACIL_COUNT_2014',
 'Recreation_FIRNESS_FACIL_PER1000_2014']

# Data Analysis & Results

Include cells that describe the steps in your data analysis.

In [5]:
## YOUR CODE HERE
## FEEL FREE TO ADD MULTIPLE CELLS PER SECTION

# Ethics & Privacy

*Fill in your ethics & privacy discussion here*

# Conclusion & Discussion

*Fill in your discussion information here*